/* Navigation styles */
.navigation-row {
    background: #56009b;
}

.nav-link-custom {
    color: white !important;
    border-radius: 50rem;
    padding: 6px 24px !important;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
}

.nav-link-custom.active,
.nav-link-custom:active {
    background-color: #320059;
}

.nav-link-custom.hover,
.nav-link-custom:hover,
.nav-link-custom:focus {
    border-color: #CDA3FF;
}

.nav-link-custom:focus-visible {
    box-shadow: none;
}

.nav-toggle-custom {
}

/* Button styles */
.game-button {
    background-color: #56009b;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 5px;
}

.game-button:active {
    background-color: #320059;
}

/* CPS styles */
.cps-header {
    margin-bottom: 20px;
}

.cps-div {
    background-color: #eee;
    position: relative;
    overflow: hidden;
    user-select: none;
    padding: 2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 600ms linear;
    background: rgba(182, 92, 255, 0.4);
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

/* Cell and Grid Styles */
.grid {
    margin: 0 auto;
    display: grid;
    width: 200px;
    height: 200px;
}
.grid-easy {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.grid-medium {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.grid-hard {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.cell-available {
    background-color: whitesmoke;
    border: 1px solid #ccc;
}

.cell-target {
    background-color: blue;
}

.cell-done {
    background-color: #00ff02;
    border: none;
}

.cell-wrong {
    background-color: red;
}